<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <div
      class="container d-flex flex-column align-items-center mt-4"
      layout:fragment="corpo"
    >
      <h3>Cadastrar</h3>
      <form
        th:action="${type == 'PROFISSIONAL'} ? @{/salvar} : @{/salvar-empresa}"
        method="post"
        th:object="${profissional}"
      >
        <div th:if="${type == 'PROFISSIONAL'}" th:replace="~{fragments/profissional-form}"></div>
        <div th:if="${type == 'EMPRESA'}" th:replace="~{fragments/empresa-form}"></div>
      </form>
    </div>
  </body>
</html>
