<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <section
      class="layout-content page-width section-user container"
      layout:fragment="corpo"
    >
      <div class="user">
        <div class="user__sidebar">
          <div class="user__avatar">
            <img
              class="user__avatar-image"
              src="https://placehold.co/300x300"
              alt="Avatar do usuário"
            />
          </div>
          <div class="user__menu">
            <div class="user__menu-item">
              <a href="#" class="user__menu-link link">Editar perfil</a>
            </div>
            <div class="user__menu-item">
              <a href="#" class="user__menu-link link">Minhas candidaturas</a>
            </div>
          </div>
        </div>
        <div class="user__info">
          <h1 class="user__name">João da Silva</h1>
          <div class="user__data">
            <div class="info__row">
              <span class="info__label">E-mail:</span>
              <span class="info__value"> joaodasilva@gmail.com </span>
            </div>
            <div class="info__row">
              <span class="info__label">CPF:</span>
              <span class="info__value"> 35008775839 </span>
            </div>
            <div class="info__row">
              <span class="info__label">Telefone:</span>
              <span class="info__value"> (11) 91234-5678 </span>
            </div>
            <div class="info__row">
              <span class="info__label">Endereço:</span>
              <span class="info__value"> Rua Exemplo, 123, São Paulo, SP </span>
            </div>
            <div class="info__row">
              <span class="info__label">Data de nascimento:</span>
              <span class="info__value"> 01/01/1990 </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
