<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <title>Resultados da Busca de Vagas</title>
  </head>

  <body>
    <section class="layout-content page-width container" layout:fragment="corpo">
      <div class="vagas">
        <div th:if="${#lists.isEmpty(vagas)}" class="no-results">
          <p>Nenhuma vaga encontrada.</p>
        </div>

        <div
          th:unless="${#lists.isEmpty(vagas)}"
          th:each="vaga : ${vagas}"
          class="vaga"
        >
          <div class="vaga__header">
            <h2 class="vaga__title" th:text="${vaga.descricao}"></h2>
          </div>
          <div class="vaga__info">
            <div
              class="vaga-card__location"
              th:text="${vaga.empresa.cidade}"
            ></div>
            <div class="vaga-card__salary">
              Salário: R$
              <span
                th:text="${#numbers.formatDecimal(vaga.remuneracao, 1, 'POINT', 2, 'COMMA')}"
              ></span>
            </div>
            <div class="vaga-card__deadline">
              Inscrições até:
              <span
                th:text="${#temporals.format(vaga.dataLimiteInscricao, 'dd/MM/yyyy')}"
              ></span>
            </div>
          </div>
          <div class="vaga__footer">
            <div class="vaga__company">
              <span
                class="vaga__company-name"
                th:text="${vaga.empresa.nome}"
              ></span>
            </div>
          </div>
          <a th:href="@{/vagas/{id}(id=${vaga.id})}" class="vaga__link"></a>
        </div>
      </div>
    </section>
  </body>
</html>
