<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <div
      class="container d-flex flex-column align-items-center mt-4"
      layout:fragment="corpo"
    >
      <h3 th:text="#{empresa.create.label}">Cadastrar Empresa</h3>
      <form
        th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}"
        method="post"
        class="w-50 mt-4"
        th:object="${empresa}"
      >
        <div class="row mb-3">
          <div class="col">
            <label for="nome" class="form-label" th:text="#{empresa.nome}">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              th:field="*{nome}"
              th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{nome}"></span>
            </div>
          </div>
          <div class="col">
            <label for="cnpj" class="form-label" th:text="#{empresa.cnpj}">CNPJ</label>
            <input
              type="text"
              class="form-control"
              id="cnpj"
              th:field="*{cnpj}"
              th:classappend="${#fields.hasErrors('cnpj')} ? 'is-invalid' : ''"
              data-mask="00.000.000/0000-00"
              data-mask-reverse="true"
            />
            <div class="invalid-feedback">
              <span th:errors="*{cnpj}"></span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="descricao" class="form-label" th:text="#{empresa.descricao}">Descrição</label>
            <textarea
              class="form-control"
              id="descricao"
              th:field="*{descricao}"
              th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid' : ''"
              style="height: 100px"
            ></textarea>
            <div class="invalid-feedback">
              <span th:errors="*{descricao}"></span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="email" class="form-label" th:text="#{login.email}">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              th:field="*{email}"
              th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{email}"></span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div th:if="${empresa.id == null}" class="col">
            <label for="senha" class="form-label" th:text="#{login.senha}">Senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              aria-describedby="senhaHelp"
              th:field="*{senha}"
              th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{senha}"></span>
            </div>
          </div>
          <div th:unless="${empresa.id == null}" class="col">
            <label for="senha" class="form-label" th:text="#{empresa.nova.senha}">Nova senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              name="novaSenha"
              aria-describedby="senhaHelp"
              th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{senha}"></span>
            </div>
            <input type="hidden" th:field="*{senha}" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="cidade" class="form-label" th:text="#{empresa.cidade}">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="cidade"
              th:field="*{cidade}"
              th:classappend="${#fields.hasErrors('cidade')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{cidade}"></span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="enabled" class="form-check-label" th:text="#{empresa.ativo}">Ativo</label>
            <input
              type="checkbox"
              class="form-check-input"
              id="enabled"
              th:field="*{enabled}"
              th:classappend="${#fields.hasErrors('enabled')} ? 'is-invalid' : ''"
            />
            <div class="invalid-feedback">
              <span th:errors="*{enabled}"></span>
            </div>
          </div>
        </div>
        <input type="hidden" id="id" th:field="*{id}" />
        <div class="d-flex justify-content-center align-items-center pt-3">
          <button class="btn btn-primary" type="submit">
            <span
              th:text="${empresa.id == null} ? #{empresa.criar} : #{empresa.atualizar}"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>