<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head></head>

  <body>
    <div layout:fragment="corpo">
      <div class="container mt-4">
        <div th:replace="~{fragments/alert}"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" th:text="#{empresa.lista.id}">ID</th>
              <th scope="col" th:text="#{empresa.cnpj}">CNPJ</th>
              <th scope="col" th:text="#{empresa.nome}">Nome</th>
              <th scope="col" th:text="#{login.email}">Email</th>
              <th scope="col" th:text="#{empresa.descricao}">Descrição</th>
              <th scope="col" th:text="#{empresa.cidade}">Cidade</th>
              <th scope="col" th:text="#{empresa.status}">Status</th>
              <th scope="col" th:text="#{empresa.acoes}">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="empresa : ${empresas}">
              <th scope="row" th:text="${empresa.id}"></th>
              <td th:text="${empresa.cnpj}"></td>
              <td th:text="${empresa.nome}"></td>
              <td th:text="${empresa.email}"></td>
              <td class="col-3" th:text="${empresa.descricao}"></td>
              <td th:text="${empresa.cidade}"></td>
              <td>
                <span
                  th:text="${empresa.enabled} ? #{empresa.ativo} : #{empresa.inativo}"
                  class="badge"
                  th:classappend="${empresa.enabled ? 'bg-success' : 'bg-secondary'}"
                ></span>
              </td>

              <td>
                <a
                  class="btn btn-primary btn-sm"
                  th:href="@{/empresas/editar/{id}(id=${empresa.id})}"
                  th:text="#{empresa.editar}"
                >
                  Editar
                </a>
                <form
                  th:action="@{/empresas/excluir/{id}(id=${empresa.id})}"
                  method="post"
                  style="display: inline-block"
                >
                  <input
                    type="submit"
                    class="btn btn-danger btn-sm"
                    th:value="#{empresa.excluir}"
                  />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>