<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <div
      class="container d-flex flex-column align-items-center mt-4"
      layout:fragment="corpo"
    >
      <h3>Cadastrar</h3>
      <form
        th:action="${profissional.id == null} ? @{/profissionais/salvar} : @{/profissionais/editar}"
        method="post"
        th:object="${profissional}"
      >
        <div th:replace="~{fragments/profissional-form}"></div>
      </form>
    </div>
  </body>
</html>
