<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <div layout:fragment="corpo">
      <div class="container mt-4">
        <div th:replace="~{fragments/alert}"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" th:text="#{profissional.lista.id}">ID</th>
              <th scope="col" th:text="#{profissional.cpf}">CPF</th>
              <th scope="col" th:text="#{profissional.nome}">Nome</th>
              <th scope="col" th:text="#{login.email}">Email</th>
              <th scope="col" th:text="#{profissional.telefone}">Telefone</th>
              <th scope="col" th:text="#{profissional.sexo}">Sexo</th>
              <th scope="col" th:text="#{profissional.data.nascimento}">Data de nascimento</th>
              <th scope="col" th:text="#{profissional.status}">Status</th>
              <th scope="col" th:text="#{profissional.acoes}">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="profissional : ${profissionais}">
              <th scope="row" th:text="${profissional.id}"></th>
              <td th:text="${profissional.cpf}"></td>
              <td th:text="${profissional.nome}"></td>
              <td th:text="${profissional.email}"></td>
              <td th:text="${profissional.telefone}"></td>
              <td th:text="${profissional.sexo}"></td>
              <td
                th:text="${#temporals.format(profissional.dataNascimento, 'dd/MM/yyyy')}"
              ></td>
              <td>
                <span
                  th:text="#{profissional.ativo}"
                  class="badge"
                  th:classappend="${profissional.enabled ? 'bg-success' : 'bg-secondary'}"
                  th:if="${profissional.enabled}"
                ></span>
                <span
                  th:text="#{profissional.inativo}"
                  class="badge"
                  th:classappend="${profissional.enabled ? 'bg-success' : 'bg-secondary'}"
                  th:unless="${profissional.enabled}"
                ></span>
              </td>

              <td>
                <a
                  class="btn btn-primary btn-sm"
                  th:href="@{/profissionais/editar/{id}(id=${profissional.id})}"
                  th:text="#{profissional.editar}"
                  >Editar</a
                >
                <form
                  th:action="@{/profissionais/excluir/{id}(id=${profissional.id})}"
                  method="post"
                  style="display: inline-block"
                >
                  <input
                    type="submit"
                    class="btn btn-danger btn-sm"
                    th:value="#{profissional.excluir}"
                  />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>