<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head></head>

  <body>
    <div layout:fragment="corpo">
      <div class="container mt-4">
        <div th:replace="~{fragments/alert}"></div>
        <h3 class="text-center mb-4" th:text="#{candidatura.lista.titulo}">Lista de Candidaturas</h3>
        <div>
          <div class="text-left">
            <div class="row pb-2 border-bottom fw-bold">
              <div class="col" th:text="#{candidatura.lista.id}">ID</div>
              <div class="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{candidatura.lista.idProfissional}">
                ID Profissional
              </div>
              <div class="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{candidatura.lista.idVaga}">
                ID Vaga
              </div>
              <div class="col" th:text="#{vaga.titulo}">Vaga</div>
              <div class="col" th:text="#{candidatura.status}">Status</div>
            </div>
            <div th:each="candidatura : ${candidaturas}">
              <div class="row py-2">
                <div class="col" th:text="${candidatura.id}"></div>
                <div
                  class="col"
                  th:text="${candidatura.profissional.id}"
                  sec:authorize="hasRole('ROLE_ADMIN')"
                ></div>
                <div
                  class="col"
                  th:text="${candidatura.vaga.id}"
                  sec:authorize="hasRole('ROLE_ADMIN')"
                ></div>
                <div class="col" th:text="${candidatura.vaga.titulo}"></div>
                <div class="col" th:text="${candidatura.status}"></div>
              </div>
              <div
                class="row p-4 bg-light-subtle"
                th:if="${candidatura.status == 'ENTREVISTA'}"
              >
                <div
                  class="mb-2"
                  th:text="${candidatura.statusDescription}"
                ></div>
                <div class="mb-2">
                  <strong th:text="#{candidatura.entrevista.data}">
                    Data da entrevista:
                  </strong>
                  <span
                    th:text="${#temporals.format(candidatura.entrevistaData, 'dd/MM/yyyy HH:mm')}"
                  ></span>
                </div>
                <div>
                  <a
                    class="btn btn-primary"
                    th:href="${candidatura.entrevistaLink}"
                    target="_blank"
                    th:text="#{candidatura.entrevista.link}"
                  >
                    Link para a entrevista
                  </a>
                </div>
              </div>
              <div class="row border-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>