<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head> </head>

  <body>
    <div layout:fragment="corpo">
      <div class="container mt-4">
        <div th:replace="~{fragments/alert}"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" th:text="#{candidatura.lista.id}">ID</th>
              <th scope="col" th:text="#{profissional.nome}">Nome</th>
              <th scope="col" th:text="#{profissional.cpf}">CPF</th>
              <th scope="col" th:text="#{login.email}">E-mail</th>
              <th scope="col" th:text="#{candidatura.status}">Status</th>
              <th scope="col" th:text="#{profissional.acoes}">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="candidatura : ${candidaturas}">
              <th scope="row" th:text="${candidatura.id}"></th>
              <td th:text="${candidatura.profissional.nome}"></td>
              <td th:text="${candidatura.profissional.cpf}"></td>
              <td th:text="${candidatura.profissional.email}"></td>
              <td th:text="${candidatura.status}"></td>

              <td>
                <a
                  class="btn btn-primary btn-sm"
                  th:href="@{/candidaturas/{id}(id=${candidatura.id})}"
                  th:text="#{candidatura.visualizar}"
                  >Visualizar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>