<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <title>Resultados da Busca de Vagas</title>
  </head>

  <body>
    <div class="container" layout:fragment="corpo">
      <div class="row justify-content-center mt-4">
        <div th:replace="~{fragments/search-bar::search-bar}"></div>
      </div>

      <div th:if="${#lists.isEmpty(vagas)}" class="mt-4">
        <p>Nenhuma vaga encontrada com os critérios informados.</p>
      </div>

      <div
        th:unless="${#lists.isEmpty(vagas)}"
        th:each="vaga : ${vagas}"
        class="card mt-4"
      >
        <div class="card-body">
          <h2 class="card-title" th:text="${vaga.descricao}"></h2>
          <h6
            class="card-subtitle mb-2 text-body-secondary"
            th:text="${vaga.empresa.nome}"
          ></h6>
          <div
            class="vaga-card__location"
            th:text="${vaga.empresa.cidade}"
          ></div>
          <div>
            Salário: R$
            <span
              th:text="${#numbers.formatDecimal(vaga.remuneracao, 1, 'POINT', 2, 'COMMA')}"
            ></span>
          </div>
          <div class="vaga-card__deadline">
            Inscrições até:
            <span
              th:text="${#temporals.format(vaga.dataLimiteInscricao, 'dd/MM/yyyy')}"
            ></span>
          </div>
          <a th:href="@{/vagas/{id}(id=${vaga.id})}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </body>
</html>
