<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <header th:fragment="header" class="header">
      <div class="header__wrapper page-width">
        <div class="header__logo">
          <a th:href="@{/}">
            <h2>VaiTrampar</h2>
          </a>
        </div>
        <div sec:authorize="!isAuthenticated()" class="header__buttons">
          <a class="button button--primary">Fazer login</a>
          <a class="button button--secondary">Criar uma nova conta</a>
        </div>
        <details sec:authorize="isAuthenticated()" class="header-user">
          <summary class="header-user__summary">
            <div class="header-user__name">
              <span sec:authentication="principal.nome"></span>
            </div>
          </summary>
          <div class="header-user__dropdown">
            <a th:href="@{/usuario/{id} (id=${#authentication.principal.id})}" class="header-user__link link">Perfil</a>
            <a th:href="@{/usuario/{id}/vagas (id=${#authentication.principal.id})}" class="header-user__link link">Minhas candidaturas</a>
            <form th:action="@{/logout}" method="post">
              <input type="submit" class="header-user__link link" name="login-submit" id="login-submit" value="Sair">
            </form>
          </div>
        </details>
      </div>
    </header>
  </body>
</html>
