<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <search-bar th:fragment="search-bar" class="search-bar">
      <form
        th:action="@{/vagas}"
        method="get"
        class="form home-search__bar"
      >
        <input
          type="text"
          name="cargo"
          class="search-bar__input home-search__input"
          placeholder="Cargo ou palavra-chave"
          th:value="${cargo}"
        />
        <div class="search-bar__cidade home-search__select">
          <input
            type="text"
            name="local"
            class="search-bar__cidade-input search-bar__input js-cidade-input"
            placeholder="Cidade, estado ou região"
            th:value="${cidade}"
          />
          <div class="search-bar__autocomplete js-cidade-autocomplete" style="display: none;">
            <div class="autocomplete__item">São Carlos, SP</div>
            <div class="autocomplete__item">São Paulo, SP</div>
            <div class="autocomplete__item">São Sebastião, SP</div>
          </div>
        </div>
        <input
          class="seach-bar__submit button button--primary button--full-height"
          type="submit"
          value="Buscar"
        />
      </form>
    </search-bar>
  </body>
</html>