<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <search-bar th:fragment="search-bar" class="d-flex justify-content-center">
      <form th:action="@{/vagas}" method="get" class="d-flex w-50">
        <div class="input-group w-100">
          <input
            type="text"
            name="cargo"
            class="form-control"
            placeholder="Cargo ou palavra-chave"
            th:value="${cargo}"
          />

          <input
            type="text"
            name="local"
            class="form-control js-cidade-input"
            placeholder="Cidade, estado ou região"
            th:value="${local}"
            list="cidadesList"
          />
          <datalist id="cidadesList" class="js-cidade-autocomplete"></datalist>
          <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
      </form>
    </search-bar>
  </body>
</html>
